.prod_label {
  display: block;
  float: left; 
  background: #eee; 
  padding: 2px 3px; 
  margin: 0 0.5em 0.25em 0; 
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px; 
  border-radius: 2px;
  white-space: nowrap; 
}

.basic-table .cropbox {
  overflow: hidden;
  float: left;
  background-color: #000;
  background-repeat: none;
  background-position: 0 0;
  border: 1px solid #000;
}

.edit-offset td strong {
  display: inline-block;
  width: 5ex;
}